body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d9534f;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #d52b1e;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#orders {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.order {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}

.order h2 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 18px;
}

.remove-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.remove-btn:hover {
    background-color: darkred;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.header-container h1 {
    margin-right: 20px;
}

.header-container img {
    max-height: 100px; 
    height: auto;
    width: auto;
}
